{% extends 'base.html' %} 

{% block css %}

<script src="https://cdn.tailwindcss.com"></script>

{% load static %}
<link rel="stylesheet" href="{% static 'Styles/default.css' %}">

{% endblock css %} 

{% block title %} About {% endblock title %}

{% block body %}
<section class="min-h-[100vh] pt-24 pb-16 px-4 sm:px-12 mr-0 ml-0 sm:ml-8 md:ml-20 sm:mr-32 md:mr-64 lg:mr-96">
    <h1 class="text-2xl font-bold h-34"> WANT TO KNOW ABOUT US </h1> <hr class="mt-4">

    <div class="post-body mt-4"> 
        <p>
            Hey peeps, it&rsquo;s time to get back to the college in an offline mode and I
            hope that you all are excited and preparing yourself for it.
          </p>
          <p>
            After going through the comments of my videos, I found there are several
            students who have not purchased a laptop and they&rsquo;re in search of a good
            laptop, but confused, because there are tons of options available. Don&rsquo;t
            worry I got you covered!
          </p>
          <p>
            In this post, we&rsquo;ll be discussing top laptops for the people whose
            budget is around 40-70k.
          </p>
          <p>There are certain points that I want to make very clear,</p>
          <p>
            <strong>Firstly</strong>&nbsp;all the laptops contain RTX 3000 series GPU
            because this is the latest GPU and it has some mind-boggling features such as
            DLSS, Reflex, etc., and this series is based on Ampere Architecture.
          </p>
          <p>
            <strong>Secondly,</strong>&nbsp;we&rsquo;ve picked some laptops that
            don&rsquo;t contain the latest Gen processor but believe me the performance of
            those CPUs is much better than the latest ones.
          </p>
          <h3>1. HP Pavilion Ryzen 5600H, GeForce RTX 3050 Laptop:</h3>
          <p>
            <img
              src="https://cwh-full-next-space.fra1.digitaloceanspaces.com/blogpost/best-laptop-to-buy-in-2022/caf0efa8bbab1b415b3aa4d50b4432a7.webp"
              alt=""
              width="294"
              height="294"
            />
          </p>
          <p>
            This is the laptop that has driven me crazy because after looking at the specs
            and the price I was totally amazed. This laptop comes with Ryzen 5 5600H
            processor that contains 6 cores, and 12 threads. It has RTX 3050 in it and on
            top of that, you&rsquo;ll fall in love with the design of this laptop because
            it looks really premium and classy laptop.
          </p>
          <p><strong>Pros</strong></p>
          <ul>
            <li>It has a 15.6inch FHD Display with 144Hz and 300 nits.</li>
            <li>It comes with Wi-Fi 6 and Bluetooth version 5.2.</li>
            <li>
              It has 2 slots for RAM which means you can upgrade your RAM to 32 Gigabytes.
            </li>
            <li>
              It also has an HDD slot, you can put SATA HDD or SSD in that slot, and can
              increase the storage of the laptop.
            </li>
          </ul>
          <p><strong>Cons</strong></p>
          <ul>
            <li aria-level="1">Battery backup is average</li>
            <li aria-level="1">No Fingerprint</li>
            <li aria-level="1">Only 2 USB Port</li>
          </ul>
          <p>
            Link:&nbsp;<a
              href="https://www.flipkart.com/hp-pavilion-ryzen-5-hexa-core-5600h-8-gb-512-gb-ssd-windows-11-home-4-graphics-nvidia-geforce-gtx-3050-15-ec2145ax-gaming-laptop/p/itmbb28e8f26e4d1?pid=COMG92FXBNZSKYBD&amp;lid=LSTCOMG92FXBNZSKYBDQH4CKG&amp;marketplace=FLIPKART&amp;q=ryzen+5+gtx+3050&amp;store=search.flipkart.com&amp;srno=s_1_1&amp;otracker=search&amp;otracker1=search&amp;fm=Search&amp;iid=6eddc519-92fa-4fc9-aefd-2af4d6f53418.COMG92FXBNZSKYBD.SEARCH&amp;ppt=hp&amp;ppn=homepage&amp;ssid=gtbzfxhvds0000001644995575184&amp;qH=050e0187546eac86"
              target="_blank"
              rel="noopener"
              >HP Pavilion</a
            >&nbsp;
          </p>
          <h3>2. Lenovo Ideapad Gaming Ryzen 5 5600H, RTX 3050 Laptop:</h3>
          <p>
            <img
              src="https://cwh-full-next-space.fra1.digitaloceanspaces.com/blogpost/best-laptop-to-buy-in-2022/11c77369411af2565b3fc0bdb187a036.webp"
              alt=""
              width="297"
              height="297"
            />
          </p>
          <p>
            This laptop comes with Ryzen 5 5600H (6 cores, 12 threads) processor, and it
            also has the same GPU i.e. RTX 3050. It has 8GB RAM, and you can upgrade the
            RAM as it comes with one empty slot. The screen size of this laptop is 15.6
            inches with 120 Hz.
          </p>
          <p><strong>Pros:</strong></p>
          <ul>
            <li aria-level="1">Entry-level 3050 Laptop</li>
            <li aria-level="1">120 Hz Display</li>
            <li aria-level="1">Good performance</li>
          </ul>
          <p><strong>Cons:</strong></p>
          <ul>
            <li aria-level="1">Battery Backup is average</li>
          </ul>
          <p>
            Link:&nbsp;<a
              href="https://www.flipkart.com/lenovo-ideapad-gaming-3-ryzen-5-hexa-core-5600h-8-gb-512-gb-ssd-windows-10-home-4-graphics-nvidia-geforce-rtx-3050-15ach6-laptop/p/itmbea0502ae5f70"
              target="_blank"
              rel="noopener"
              >Lenovo Ideapad</a
            >
          </p>
          <h3>3. MSI GF63 Thin Core i5 10th Gen Laptop:</h3>
          <p>
            <img
              src="https://cwh-full-next-space.fra1.digitaloceanspaces.com/blogpost/best-laptop-to-buy-in-2022/c156aa86cf9c8511724345c9f3e08dac.webp"
              alt=""
              width="295"
              height="295"
            />
          </p>
          <p>
            This laptop is a hot pick for those whose budget is around 65k and who want to
            experience the RTX 3050 GPU. The only con of this laptop is its Generation, as
            it comes with 10<sup>th</sup>&nbsp;gen, but wait guys, lemme tell you the
            truth. If your budget is tight and you really want a great laptop, then you
            can go with it.
          </p>
          <p>
            It has a 10<sup>th</sup>&nbsp;gen core i5 processor (6 cores and 12 threads).
            It has RTX 3050 GPU with 4GB VRAM. The display of this laptop is 15.6 inches
            with 144 Hz.
          </p>
          <p><strong>Pros:</strong></p>
          <ul>
            <li aria-level="1">Entry-level 3050 Laptop</li>
            <li aria-level="1">144 Hz Display</li>
            <li aria-level="1">Wifi 6 and Bluetooth 5.1</li>
            <li aria-level="1">Good performance</li>
          </ul>
          <p><strong>Cons:</strong></p>
          <ul>
            <li aria-level="1">10th Gen Processor</li>
            <li aria-level="1">Battery backup while gaming is poor</li>
          </ul>
          <p>
            Link:&nbsp;<a
              href="https://www.flipkart.com/msi-gf63-thin-core-i5-10th-gen-8-gb-512-gb-ssd-windows-10-home-4-graphics-nvidia-geforce-rtx-3050-144-hz-10uc-607in-gaming-laptop/p/itm92565651dc3ed?pid=COMG5AWT9CKRMEFU&amp;lid=LSTCOMG5AWT9CKRMEFULV38QB&amp;marketplace=FLIPKART&amp;q=msi+gf+63&amp;store=search.flipkart.com&amp;srno=s_1_5&amp;otracker=search&amp;otracker1=search&amp;fm=SEARCH&amp;iid=f07b6e80-1a41-46db-8c75-6d0f824098f4.COMG5AWT9CKRMEFU.SEARCH&amp;ppt=hp&amp;ppn=homepage&amp;ssid=eb2u9sd5mo0000001633258130062&amp;qH=361f244cdc447bfe"
              target="_blank"
              rel="noopener"
              >MSI GF63 Thin</a
            >
          </p>
          <div class="cwhads my-4">
            <ins
              class="adsbygoogle"
              data-ad-client="ca-pub-9655830461045889"
              data-ad-slot="8999979664"
              data-ad-format="auto"
              data-full-width-responsive="true"
              data-adsbygoogle-status="done"
            >
              <div id="aswift_4_host"></div>
            </ins>
          </div>
          <h3>4. ASUS TUF A15 (2021) Gaming, Business (AMD Ryzen 7 4800H) Laptop:</h3>
          <p>
            <img
              src="https://cwh-full-next-space.fra1.digitaloceanspaces.com/blogpost/best-laptop-to-buy-in-2022/998c42bb1985da56c65a992014c2f15f.webp"
              alt=""
              width="295"
              height="295"
            />
          </p>
          <p>
            This laptop is a true beast guys, it comes with an octa-core processor. Though
            the gen is 4<sup>th</sup>&nbsp;and not the latest one, still it defeats most
            of the 5<sup>th</sup>&nbsp;gen processors, if you want my simple answer then
            yes it is better than Ryzen 5 5600H processor. If these generations
            don&rsquo;t matter to you, then you can buy this laptop without thinking
            twice.
          </p>
          <p>
            It comes with Ryzen 7 4800H (8 cores and 16 threads) processor. And it has a
            144Hz 15.6-inch display. It has an 8GB Ram pre-installed on it, but you can
            upgrade the RAM to 32 Gigabytes according to your needs. And it has RTX 3050
            GPU with 4GB VRAM.
          </p>
          <p>Pros:</p>
          <ul>
            <li aria-level="1">Ryzen 7 (8 core processor)</li>
            <li aria-level="1">RTX 3050</li>
            <li aria-level="1">144 Hz Display</li>
            <li aria-level="1">Ram upgradeable up to 32GB</li>
            <li aria-level="1">Great upgradability options</li>
          </ul>
          <p>Cons:</p>
          <ul>
            <li aria-level="1">Ryzen 4th Gen Processor</li>
            <li aria-level="1">Average battery backup</li>
          </ul>
          <p>
            Link:&nbsp;<a
              href="https://www.amazon.in/ASUS-15-6-inch-RTX-3050-Graphics-FA506IC-HN005T/dp/B09CCW5XVM/ref=sr_1_4?crid=WKQQMNXJ9BXO&amp;keywords=rtx%2B3050&amp;qid=1644998584&amp;sprefix=rtx%2B305%2Caps%2C493&amp;sr=8-4&amp;th=1"
              target="_blank"
              rel="noopener"
              >ASUS TUF A15</a
            >
          </p>
          <h3>5. Dell 15 (2021) Ryzen 5-5600H Gaming Laptop:</h3>
          <p>
            <img
              src="https://cwh-full-next-space.fra1.digitaloceanspaces.com/blogpost/best-laptop-to-buy-in-2022/0a2f93b916d41623d5a2132dc2f31550.webp"
              alt=""
              width="297"
              height="297"
            />
          </p>
          <p>
            Dell 15 comes with Ryzen 5 5600H processor, and this laptop too has RTX 3050
            in it, and it also has 8GB of RAM. It comes with Windows 11 pre-installed. It
            has a 15.6 inch Full HD display. The RAM can be upgraded to 16GB in the
            future. It comes with a 512GB SSD.
          </p>
          <p><strong>Pros:</strong></p>
          <ul>
            <li aria-level="1">RTX 3050</li>
            <li aria-level="1">Dell name is enough</li>
            <li aria-level="1">Win 11 loaded</li>
            <li aria-level="1">Latest Gen CPU</li>
          </ul>
          <p><strong>Cons:</strong></p>
          <ul>
            <li aria-level="1">Average battery backup</li>
          </ul>
          <p>
            Link:&nbsp;&nbsp;<a
              href="https://www.amazon.in/Dell-5-5600H-Office21-Phantom-D560642WIN9W/dp/B09NLSMR4K/ref=sr_1_5?crid=WKQQMNXJ9BXO&amp;keywords=rtx+3050&amp;qid=1644998584&amp;sprefix=rtx+305%2Caps%2C493&amp;sr=8-5"
              target="_blank"
              rel="noopener"
              >Dell 15</a
            >
          </p>
          <p>
            So, these are some options that I've picked for you. You can search about them
            online and can choose the perfect fit for yourself.&nbsp;
          </p>
          <p>&nbsp;</p>
    </div>
</section>
{% endblock body %}

{% block js %}
{% endblock js %}