{% extends 'base.html' %}

{% block title %} {{post.0.post_title|truncatechars:20}} {% endblock title %}

{% block css %}

{% load static %}
<link rel="stylesheet" href="{% static 'Styles/default.css' %}" !important>

{% endblock css %}

{% block body %}
<section class="min-h-[100vh] pt-24 pb-16 px-4 sm:px-12 mr-0 ml-0 sm:ml-8 md:ml-20 sm:mr-32 md:mr-64 lg:mr-80">
    <h1 class="text-2xl font-bold h-34"> {{post.0.post_title}} </h1> <hr class="mt-4">
    <div class="post-body mt-4"> 
        {{ post.0.post_content|safe }}
    </div>
</section>
{% endblock body %}

{% block js %}
{% endblock js %}